
.login-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.form input {
  border: 0px;
  height: 36px;
  margin-bottom: 14px;
  border-radius: 4px;
  padding: 0px 8px;
  outline: none;
}

.form button {
  height: 36px;
  border-radius: 4px;
  background-color: #3366ff;
  border: 0px;
  font-size: 18px;
  color: #fff
}
